<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span (click)="navigateToContact()" class="text-muted">-תקלה, עזרה? <span class="link">צור קשר</span>-</span>
            </div>
        </div>
    </div>
</footer>
