<div id="contact-wraper" class="jumbotron">
    <div class="container">
        <h1 class="jumbotron-heading">צור קשר</h1>
        <p class="lead text-muted">צוקים, הערבה התיכונה</p>
        <hr class="my-4">
        <p><i class="fas fa-phone"></i> 052-3666646</p>
        <p><i class="fas fa-phone"></i> 052-4744474</p>
    </div>
</div>