<div class="jumbotron text-right container right-to-left">
  <h4 class="jumbotron-heading">
    <i class="far fa-sad-tear"></i>
    המערכת לא ניתמכת בדפדפן זה
  </h4>
  <hr class="my-4">
  <p>יש לנסות להיכנס למערכת מדפדפן chrome או לבצע הזמנה טלפונית במספר 052-3666646 או 052-4744474</p>
  {{device.browser}} {{device.version}}
</div>