<html>
    <body style="direction: rtl; text-align: right;">
        <p>
            שלום {{subscription.ownerName}}
        </p>
        <p>הזמנת הכרטיסים שלך לפסטיבל סרטים בערבה התקבלה בהצלחה, מספר ההזמנה: {{subscription.id}}.</p>
        <strong>הכרטיסים יאספו מקופת הפסטיבל</strong>
        <br>
        <p>תודה!</p>
        <br>
        <p>צוות הפסטיבל</p>
    </body>
</html>