<html>
    <body style="direction: rtl; text-align: right;">
        <h3>
            העסקה בוצעה בהצלחה
        </h3>
        <h3>
                מספר עסקה: {{subscriptionId}}
        </h3>
        <h4>
                אישור הזמנה ישלח בעוד במספר דקות בsms ובemail, חשבונית תישלח בemail בתוך מספר ימים מרגע ההזמנה.
        </h4>
    </body>
</html>