<html>
    <body style="direction: rtl; text-align: right;">
        <h3>
            העסקה נכשלה, לתמיכה ניתן ליצור קשר בטלפון 052-3666646 או 052-4744474.
        </h3>
        <h3>
                מספר עסקה: {{subscriptionId}}
        </h3>
</html>