<html>
    <style>
        @page{
            size: 80mm 60mm;
            margin: 0mm 0mm 0mm 0mm;
        }
        #ticket{
            font-size: 40mm;
            text-align: right;
            height: 100mm;
            page-break-before: always
        }
        .medium{
            font-size: 30mm;
        }
        
    </style>

    <script>
        setTimeout(function(val, err){window.print()}, 2)
    </script>

    {% for ticket in tickets %}
        <div id="ticket">
            <h1>
                סרטים בערבה
            </h1>
            <h3 class="medium">
                {{ticket.show.name}}
            </h3>
            {% if(ticket.subscription) %}
                <p class="medium">
                    שם לקוח: {{ticket.subscription.ownerName}} 
                </p>
                <p class="medium">
                    שיטת תשלום: אשראי
                </p>
                {% if(ticket.subscription.type == "subscription") %}
                    <p class="medium">מחיר: {{ticket.subscription.price/ticket.subscription.ticketAmount}}</p>
                {% endif %}
                {% if(ticket.subscription.type == "regular") %}
                    <p class="medium">מחיר: {{ticket.show.price}}</p>
                {% endif %}
            {% endif %}
            {% if(ticket.subscription == undefined) %}
                <p class="medium">
                    שיטת תשלום: מזומן
                </p>
                <p class="medium">מחיר: {{ticket.show.price}}</p>
            {% endif %}
            <p class="medium">שורה {{ticket.seat.row}}, כסא {{ticket.seat.seatId}}</p>
        </div>
    {% endfor %}
    
</html>