<nav id='app-header' class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top box-shadow">
    <div class="container">
        <a class="navbar-brand" href="#">
          <!-- רכישת כרטיסים -->
          <img id="aravafs-logo" src="assets/sratim-baarava.png" alt="">
      </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a class="nav-link" routerLink="/choose-seat">בחר כרטיסים
          <span class="sr-only">(current)</span>
        </a>
                </li>

                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/cart">תשלום</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/takanon">תקנון</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/contact">צור קשר</a>
                </li>
                <li *ngIf="isAdmin" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/backoffice/tickets">ניהול כרטיסים</a>
                </li>
                <li *ngIf="isAdmin" class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/backoffice/subscriptions">מנוים</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
