<div *ngIf="!isLoading" class="container" id="table-container">
  <div id="search-wraper" class="row">
    <input [(ngModel)]="filterByText" class="col-sm-12 col-lg-3 form-control" placeholder=" חיפוש לפי תז, מספר מנוי, שם..." type="text">
  </div>
  <div class="row">
    <table class="table table-striped table-hover table-responsive-sm" id="subscriptions-table">
      <thead class="thead-light">
        <tr>
          <th scope="col">מספר מנוי</th>
          <th scope="col">שם</th>
          <th scope="col">ת"ז</th>
          <th scope="col">טלפון</th>
          <th scope="col">מייל</th>
          <th scope="col">מחיר</th>
          <th scope="col">מספר כרטיסים</th>
          <th scope="col">שימוש</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="{'table-warning': !subscription.isConfirmed}" *ngFor="let subscription of subscriptions | filterSubscriptions:filterByText">
            <th scope="row">{{subscription.id}}</th>
            <td>{{subscription.ownerName}}</td>
            <td>{{subscription.ownerId}}</td>
            <td>{{subscription.ownerPhone}}</td>
            <td>{{subscription.ownerMail}}</td>
            <td>{{subscription.price}}</td>
            <td>{{subscription.ticketAmount}}</td>
            <td>{{subscription.usage}}</td>
            <td><i style="cursor: pointer;" (click) = "chargeSubscription(subscription)" *ngIf="!subscription.isConfirmed" class="far fa-credit-card"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>

<button (click)="navigateToAddSubscription()" id="cart-button" class='btn btn-info'><i id='shoping-cart' class="fas fa-plus"></i>
