#table-container{
    direction: rtl;
}

#subscriptions-table{
    text-align: center;
}

#cart-button{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 1%;
    right: 3%;
}

#search-wraper{
    margin-bottom: 5px;
}