<div class="container" id="takanon-wraper">
  <div id="takanon-header-wraper">
    <h2 id="takanon-header">
      תקנון
    </h2>
  </div>
  <div class="takanon-caption">
    <p>כיגדלם כחגלךד כחגדלך כחגלדך כחגלדך כחגלדךש חכלגד חכלגךד כחלגדך חכלגדך כחגלדך כחגלדשך חכלגך חכלגדך כחגלדךש כחגלדך כחחגלדךשכ גחדלשךכ גדחשלכך</p>
  </div>
  <div class="takanon-caption">
      <p>כיגדלם כחגלךד כחגדלך כחגלדך כחגלדך כחגלדךש חכלגד חכלגךד כחלגדך חכלגדך כחגלדך כחגלדשך חכלגך חכלגדך כחגלדךש כחגלדך כחחגלדךשכ גחדלשךכ גדחשלכך</p>
    </div>
    <div class="takanon-caption">
        <p>כיגדלם כחגלךד כחגדלך כחגלדך כחגלדך כחגלדךש חכלגד חכלגךד כחלגדך חכלגדך כחגלדך כחגלדשך חכלגך חכלגדך כחגלדךש כחגלדך כחחגלדךשכ גחדלשךכ גדחשלכך</p>
    </div>
</div>