<div>
    <div id="logos">
        <div id="sequrity-logos">
                <img src="assets/pci-inner.gif" alt="">
        </div>
        <div id="credit-logos">
            <img src="assets/logo-amex.png" alt="">
            <img src="assets/logo-mastercard.png" alt="">
            <img src="assets/logo-visa.png" alt="">
        </div>
    </div>
    <iframe *ngIf="state==='payment'"  style="width: 100%; height: 495px; border-width: 0px" [src]="tranzilaIframeUrl">
    </iframe>
    <div class="jumbotron text-right" *ngIf="state==='error'">
            <h3 class="jumbotron-heading">הירעה שגיאה</h3>
            <!-- todo: put real contact phone -->
            <p class="lead text-muted">יש לרענן את הדף ולנסות שוב, במידה והשגיאה חוזרת נא ליצור קשר בטלפון 052-3666646 או 052-4744474</p>
    </div>
    <div class="jumbotron text-right" *ngIf="state==='confirmed'">
            <h3 class="jumbotron-heading">העסקה שולמה</h3>
            <p class="lead text-muted">מספר עסקה: {{subscription.id}}</p>
    </div>
    <app-spinner *ngIf="state==='loading'"></app-spinner>
</div>