<div id="success-wraper" class="jumbotron">
    <div class="container">
        <h1 class="jumbotron-heading">הרכישה בוצעה בהצלחה <i class="far fa-thumbs-up"></i></h1>
        <p class="lead text-muted">אישור הזמנה ישלח בעוד במספר דקות בsms ובemail.</p>
    </div>
</div>