<div id="wraper" class="jumbotron">
  <div class="container">
    <h3>הכנס פרטי מנוי</h3>
    <hr class="my-4"/>
    <form>
        <div class="form-group">
            <label for="usernmae">שם משתמש</label>
            <input [(ngModel)] = "username" name="username" class="form-control" id="ownerId" type="text">
        </div>
        <div class="form-group">
            <label for="password">קוד מנוי</label>
            <input [(ngModel)] = "password" name="password" class="form-control" id="secret" type="password">
        </div>
        <button [disabled] = "!(username && password)" (click)="login()" type="submit" class="btn btn-primary">המשך</button>
    </form>
  </div>
</div>