<div class="continer">
    <div *ngIf="displayType === 'form'" class="col-md-12 jumbotron heb">
      <h3>יצירת מנוי</h3>
      <hr class="my-4">
      <form [formGroup]="subscriptionForm">
        <div class="form-group">
          <label for="name">שם</label>
          <input formControlName="ownerName" required type="text" name="name" [ngClass]="{'form-control': true, 'is-invalid': subscriptionForm.controls.ownerName.invalid, 'is-valid': subscriptionForm.controls.ownerName.valid}">
          <div class="invalid-feedback">
                יש להזין שם תקני
          </div>
        </div>
        <div class="form-group">
          <label for="email">אימייל</label>
          <input formControlName="ownerMail" required type="email" name="email" [ngClass]="{'form-control': true, 'is-invalid': subscriptionForm.controls.ownerMail.invalid, 'is-valid': subscriptionForm.controls.ownerMail.valid}">
          <div class="invalid-feedback">
                יש להזין כתובת אימייל תקנית
          </div>
        </div>
        <div class="form-group">
          <label for="phone">מספר סלולרי</label>
          <input formControlName="ownerPhone" required type="tel" name="phone" [ngClass]="{'form-control': true, 'is-invalid': subscriptionForm.controls.ownerPhone.invalid, 'is-valid': subscriptionForm.controls.ownerPhone.valid}">
          <div class="invalid-feedback">
                יש להזין מספר תקני
          </div>
        </div>
        <div class="form-group">
          <label for="phone">תעודת זהות</label>
          <input formControlName="ownerId" required type="tel" name="phone" [ngClass]="{'form-control': true, 'is-invalid': subscriptionForm.controls.ownerId.invalid, 'is-valid': subscriptionForm.controls.ownerId.valid}">
          <div class="invalid-feedback">
              יש להזין תעודת זהות תקנית
          </div>
        </div>
        <div class="form-group">
            <label for="phone">סוג מנוי</label>
            <select  (change)="onSubscriptionTypeChange($event)" class="form-control">
              <option *ngFor="let subscriptionType of subscriptionTypesNames">{{subscriptionType}}</option>
            </select>
          </div>
        <div class="form-group">
            <label for="phone">מספר כרטיסים</label>
            <input formControlName="ticketAmount" required type="number" name="phone" [ngClass]="{'form-control': true, 'is-invalid': subscriptionForm.controls.ticketAmount.invalid, 'is-valid': subscriptionForm.controls.ticketAmount.valid}">
            <div class="invalid-feedback">
                יש להזין מספר כרטיסים תקני
            </div>
        </div>
        <div class="form-group">
          <label for="phone">מחיר</label>
          <input formControlName="price" required type="number" name="phone" [ngClass]="{'form-control': true, 'is-invalid': subscriptionForm.controls.price.invalid, 'is-valid': subscriptionForm.controls.price.valid}">
          <div class="invalid-feedback">
                יש להזין מחיר תקני
          </div>
        </div>
        <div id="footer">
          <button (click)="goToSubscriptions()"  id="back-button" class="btn btn-danger">חזור</button>
          <div>
              <button (click)="addToSubscriptions()" [disabled]="!subscriptionForm.valid || isLoading"   class="btn btn-primary">הוסף מנוי</button>
              <button (click)="onSubmit()" [disabled]="!subscriptionForm.valid || isLoading" type="submit" id="submit-button" class="btn btn-success">שלח({{!isLoading ? subscriptions.length + 1 : '...'}})</button>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="displayType === 'succuss'" class="col-md-12 jumbotron heb">
        <h3>המנוים נוצרו בהצלחה</h3>
        <hr class="my-4">
        <div *ngFor="let newSubscription of newSubscriptions">
            <h4>שם: {{newSubscription.ownerName}}</h4>
            <p>מספר מנוי: {{newSubscription.id}}</p>
            <p>מחיר: {{newSubscription.price}}</p>
            <br>
        </div>
        <hr class="my-4">
        <h4>סך הכל לחיוב: <span class="badge badge-success">{{getNewSubscriptionsTotalPrice()}}₪</span></h4>
        <div id="footer">
          <div></div>
            <button (click)="goToSubscriptions()"  id="submit-button" class="btn btn-primary">סיים</button>
        </div>
    </div>
    
</div>