<div id="wraper" class="jumbotron">
    <div class="container">
      <h3>הכנס פרטי מנוי</h3>
      <hr class="my-4"/>
      <form>
          <div class="form-group">
              <label for="ownerId">ת"ז</label>
              <input [(ngModel)] = "ownerId" name="ownerId" class="form-control" id="ownerId" type="text">
          </div>
          <div class="form-group">
              <label for="subscriptionId">קוד מנוי</label>
              <input [(ngModel)] = "subscriptionId" name="subscriptionId" class="form-control" id="secret" type="text">
          </div>
          <button [disabled] = "!(ownerId && subscriptionId)" (click)="subscriptionLogin()" type="submit" class="btn btn-primary">המשך</button>
      </form>
    </div>
  </div>