#cart-wraper{
  direction: rtl;
  text-align: right;
}

#acqusisitions-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.acqusisitions-footer{
  width: 100%;
  text-align: left;
}

#purches-button{
  width: 100%;
}

#no-tickets{
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#delete-ticket {
  cursor: pointer;
  color: #dc3545
}

#details-buttom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#admin-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin-button {
  width: 100%;
  margin-bottom: 2px;
}

#takanon{
  height: 150px;
  overflow: auto;
  background-color: snow;
  border-radius: 4px;
  margin-bottom: 11px;
}

#takanon-link{
  cursor: pointer;
  color: #007bff;
  text-decoration: underline;
}