<div class="continer">
  <div *ngIf="state === 'cart'" id="cart-wraper" class="col-md-12 jumbotron">
    <h3>סל כרטיסים</h3>
    <hr class="my-4">
    <div id="no-tickets" *ngIf="tickets.length<=0">
      <div>
          <h3 class="display-5 text-muted">
              לא נבחרו כרטיסים
          </h3>
      </div>
    </div>
    <div  *ngFor="let ticketsGroup of tickets | groupTickets" id="acqusisitions-wraper">
      <div>
        <div id="acqusisitions-header">
          <div>
            <h4>
                {{ticketsGroup[0].show.name}}
            </h4>
          </div>
          <div>
              <h2 class="badge badge-primary">{{ticketsGroup.length}}</h2>
          </div>
        </div>
        <p *ngIf="storeMode === 'credit'" class="lead mute badge badge">
            מחיר לכרטיס: {{ticketsGroup[0].show.price}}₪
        </p>
        <p class="lead mute">
            {{hebrawWeekDay(ticketsGroup[0].show.dateTime)}}, {{ticketsGroup[0].show.dateTime | date: "HH:mm-d/M"}}
        </p>
        <ul>
          <li *ngFor="let t of ticketsGroup">
            <span>שורה {{t.seat.row}}, כיסא {{t.seat.seatId}}  </span>
            <i (click)="deleteTicket(t)" id="delete-ticket" class="fas fa-times"></i>
          </li>
        </ul>
        <div class="acqusisitions-footer">
            <button (click)="removeTicketsByShow(ticketsGroup[0].show)" class="btn btn-danger pull-right">הסר מהסל</button>
        </div>
      </div>
      <hr class="my-4"/>
    </div>
    <section *ngIf="tickets.length > 0">
      <div *ngIf="storeMode === 'credit'">
        <p>סך הכל לתשלום: {{getTicketsPrice()}}₪</p>
      </div>
      <div *ngIf="storeMode === 'subscription'">
          <p>סך הכל: {{tickets.length}} כרטיסים</p>
          <p>יתרת מנוי לאחר הרכישה: {{subscription.ticketAmount - subscription.usage - tickets.length}} כרטיסים</p>
      </div>
      <button *ngIf="!isAdmin" (click)="onPurches()"  id="purches-button" class="btn btn-success">רכוש</button>
      <div *ngIf="isAdmin" id="admin-buttons">
          <button  (click)="onPurches()"   class="btn btn-primary admin-button">רכישה רגילה</button>
          <button (click)=onSpecialPriceClick() class="btn btn-primary admin-button">רכישה במחיר מיוחד</button>
          <button (click)="onAdminSubscriptionPayClick()" class="btn btn-primary admin-button">רכישת מנוי</button>
          <div *ngIf="isAdminSubscriptionPayToggled" class="admin-button">
                <div class="form-group">
                    <label for="subscriptionId">מספר מנוי</label>
                    <input [(ngModel)]="subscriptionId"  type="number" name="subscriptionId" class="form-control">
                </div>
                <button [disabled]="!subscriptionId" (click)="onAdminSubscriptionClick()" class="btn btn-success text-right">רכוש</button>
          </div>
      </div>
    </section>
  </div>

  <div *ngIf="state === 'details'" id="cart-wraper" class="col-md-12 jumbotron">
      <h3>הכנס פרטים</h3>
      <hr class="my-4">
      <form [formGroup]="payForm" (ngSubmit)="onPaySubmit()">
          <div *ngIf="isAdmin && adminPayState === '1'" class="form-group">
              <label for="price">מחיר לכרטיס</label>
              <input formControlName="specielPrice" required type="number" name="price" [ngClass]="{'form-control': true, 'is-invalid': payForm.controls.specielPrice.invalid, 'is-valid': payForm.controls.specielPrice.valid}">
              <div class="invalid-feedback">
                יש להזין מחיר תקני
              </div>
          </div>
          <div class="form-group">
              <label for="name">שם</label>
              <input formControlName="name" required type="text" name="name" [ngClass]="{'form-control': true, 'is-invalid': payForm.controls.name.invalid, 'is-valid': payForm.controls.name.valid}">
              <div class="invalid-feedback">
                יש להזין שם תקני
              </div>
          </div>
            <div class="form-group">
                <label for="email">אימייל</label>
                <input formControlName="email" required type="email" name="email" [ngClass]="{'form-control': true, 'is-invalid': payForm.controls.email.invalid, 'is-valid': payForm.controls.email.valid}">
                <div class="invalid-feedback">
                    יש להזין כתובת אימייל תקנית 
                </div>
            </div>
            <div class="form-group">
                <label for="phone">מספר סלולרי</label>
                <input formControlName="phone" required type="tel" name="phone" [ngClass]="{'form-control': true, 'is-invalid': payForm.controls.phone.invalid, 'is-valid': payForm.controls.phone.valid}">
                <div class="invalid-feedback">
                    יש להזין מספר תקני   
                </div>
            </div>
            <div class="checkbox">
                <input formControlName="readTakanon" type="checkbox" value="true">
                <label>אני מאשר\ת שקראתי את <a (click)="toggleTakanon()" id="takanon-link">התקנון</a></label>
            </div>
            <div *ngIf="isTakanonToggled" id="takanon">
                <app-takanon></app-takanon>
            </div>
            <div id="details-buttom">
                <button (click) = "backToCart()" class="btn btn-primary">חזור</button>
                <button [disabled]="!payForm.valid && payForm.controls.readTakanon" type="submit" class="btn btn-success">רכוש</button>
            </div> 
      </form>  

    </div>

    <div *ngIf="state === 'loader'" id="cart-wraper" class="col-md-12 jumbotron">
        <app-spinner></app-spinner>
    </div>

    <div *ngIf="state === 'credit'" >
        <iframe *ngIf="creditTransaction"  style="width: 100%; height: 495px; border-width: 0px" [src]="tranzilaIframeUrl">
            
        </iframe>
    </div>

</div>
