#table-container{
    direction: rtl;
}

#tickets-table{
    text-align: center;
}

.choose-all{
    cursor: pointer;
}

#search-wraper{
    margin-bottom: 5px;
}

#no-tickets{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ticket-buttons {
    position: fixed;
    bottom: 3%;
    right: 1%;
    width: 80px;
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ticket-button{
    height: 40%;
}

.green{
    color: #08ad2d;
}