<div class="container" id="table-container">
    <div id="search-wraper" class="row">
      <form [formGroup] = "searchForm"  class="form-inline ">
          <label class="sr-only" for="free-text">חיפוש חופשי</label>
          <input name="free-text" formControlName="filterText" class="form-control mb-2 mr-sm-2" placeholder="   תז, מספר מנוי, שם..." type="text">

            <label class="sr-only" for="free-text">חיפוש חופשי</label>
            <select  formControlName="selectedShow" class="form-control mb-2 mr-sm-2">
              <option>כל ההקרנות</option>
              <option *ngFor="let show of shows" [ngValue]="show">{{show.name}} - {{show.dateTime | date: "HH:mm-d/M"}}</option>
            </select>
            <div class="col-auto">
                <div class="form-check mb-2">
                  <input formControlName = "onlyReserved" class="form-check-input" type="checkbox" id="autoSizingCheck">
                  <label class="form-check-label" for="autoSizingCheck">
                  כרטיסים מוזמנים בלבד
                  </label>
                </div>
            </div>
      </form>
    </div>
    <div class="row">
      <table  class="table  table-hover table-responsive-sm" id="tickets-table">
        <thead class="thead-light">
          <tr>
            <th (click) = "onSelectAllTicketsClick()" scope="col" class="choose-all"><i class="far fa-hand-point-down"></i></th>
            <th scope="col">סרט</th>
            <th scope="col">תאריך</th>
            <th scope="col">שורה</th>
            <th scope="col">כסה</th>
            <th scope="col">מחיר</th>
            <th scope="col">שם</th>
            <th scope="col">ת"ז</th>
            <th scope="col">טלפון</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngIf="activeSearchRequests < 1 && tickets.length > 0">
          <tr *ngFor="let ticket of tickets"  [ngClass]="{'table-success': selectedTickets.includes(ticket)}">
              <td (click) = "onTicketClick(ticket)"><i [ngClass]="{'green': ticket.isPrinted}" class="fas fa-print"></i></td>
              <th (click) = "onTicketClick(ticket)" scope="row">{{ticket.show.name}}</th>
              <td (click) = "onTicketClick(ticket)">{{ticket.show.dateTime |  date: "HH:mm-d/M"}}</td>
              <td (click) = "onTicketClick(ticket)" >{{ticket.seat.row}}</td>
              <td (click) = "onTicketClick(ticket)">{{ticket.seat.seatId}}</td>
              <td (click) = "onTicketClick(ticket)">{{ticket.show.price}}</td>
              <td (click) = "onTicketClick(ticket)">{{ticket.subscription?.ownerName || '-'}}</td>
              <td (click) = "onTicketClick(ticket)">{{ticket.subscription?.ownerId || '-'}}</td>
              <td (click) = "onTicketClick(ticket)">{{ticket.subscription?.ownerPhone || '-'}}</td>
              <td ><button (click)="dismissTicket(ticket)" *ngIf="ticket.subscription" class="btn btn-danger"><i class="fas fa-user-times"></i></button></td>
          </tr>
        </tbody>
      </table>
      <div id="no-tickets" *ngIf="activeSearchRequests < 1 && tickets.length < 1">
        <h3>לא נמצאו כרטיסים</h3>
      </div>
    </div>
  </div>
  
  <app-spinner *ngIf="activeSearchRequests > 0"></app-spinner>
  
<div *ngIf="selectedTickets.length > 0" id="ticket-buttons">
  <button (click)="printTickets()" class="ticket-button btn btn-success"><i class="fas fa-print"></i> {{selectedTickets.length}}</button>
</div>