#header{
  direction: rtl;
}

#feather{
  min-width: 1594px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#screen{
  text-align: center;
  padding-bottom: 30px;
}

.feather-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.feather-seat{
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: #3AC2D7;
  text-align: center;
  margin: 2px;
  /* border-radius: 3px; */
}


.feather-section{
  width: 48%;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#other-rows{
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

#feather-lane{
  width: 4%;
  height: 100%;
}

#first-row{
  padding-bottom: 10px;
}

.dubble-row{
  padding-bottom: 6px;
}

.feather-bubble-seat{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 60px;
  background-color: #3AC2D7;
  /* border-radius: 3px; */
}

.feather-bubble-seat > div{
  height: 100%;
  width: 50%;
  text-align: center;
}

/* .card-block{
  text-align: left;
} */

.card-block > button{
  margin-left: 7px;
  margin-bottom: 7px;
}

#feather-container{
  overflow: auto;
}

#success-div{
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blocked-seat{
  cursor: not-allowed;
}

#cart-button{
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 1%;
  right: 3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#shoping-cart{
  font-size: 35px;
}


#bottum-place-holder{
  height: 30px;
}


.seat-chosen{
  background-color: orange;
}

.seat-taken{
  background-color: gray;
}

.no-tickets-selected{
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.seat-indication{
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95px;
}

.set-free-inidication{
  height: 50%;
  width: 45px;
  background-color: #3AC2D7;
  margin-bottom: 3px;
  /* border-radius: 5px; */
  text-align: center;
}
.set-taken-inidication{
  height: 50%;
  width: 45px;
  background-color: gray;
  /* border-radius: 5px; */
  text-align: center;
}

.bottum-margin {
  margin-bottom: 2px;
}

#details {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

#cart-and-cencel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#add-to-cart-button {
  margin-left: 5px;
}

.rows-markin{
  width: 20px;
  text-align: center;
}

.rows-markin-feather-placeholder{
  height: 95px;
}

#feather-and-rows-markin{
  display: flex;
}

.rows-markin-first-row-placeholder{
  color: #fffafa;
  margin-bottom: 4px;
  height: 30px;
  padding-bottom: 40px;
}

.rows-markin-second-row-placeholder {
  color: #fffafa;
  margin-bottom: 2px;
  height: 30px;
  padding-bottom: 36px;
}

.rows-markin-row-placeholder {
  color: #fffafa;
  margin-bottom: 4px;
  height: 30px;
}

.card-body{
  padding: 0px;
}

.jumbotron {
  margin-right: 20px;
  margin-left: 20px;
}

#puf-alert{
  color: #fffafa;
}

#left-arrow{
  cursor: pointer;
  position: absolute;
  top: 116px;
  left: 35px;
  font-size: 85px;
  color: #fffafa;
}

#right-arrow{
  cursor: pointer;
  position: absolute;
  top: 116px;
  right: 35px;
  font-size: 85px;
  color: #fffafa;
}