<div class="container">
  <div class="card bg-dark">
    <div id="header" class="card-header text-right">
      <select (change)="onShowSelect()" [disabled]="displayType==='success'" [(ngModel)] = "selectedShow" id="movie-name-select" class="form-control">
        <option disabled [ngValue]="shows[0]">בחר סרט</option>
        <option  [ngValue]="show" *ngFor="let show of shows.slice(1)">{{show.name}} {{hebrawWeekDay(show.dateTime)}}, {{show.dateTime | date: "HH:mm-d/M"}}</option>
      </select>
      <!-- <div *ngIf="tickets.length > 0 && payMode === 'credit'" id="show-details">
        <span class="badge badge-primary">מחיר לכרטיס: {{selectedShow.price}}₪</span>
      </div> -->
      <div id="details">
          <div>
            <div *ngIf="payMode === 'subscription'" id="show-details">
                <span class="badge badge-primary">יתרת מנוי: {{subscription.ticketAmount - subscription.usage - selectedTickets.length}}</span>
            </div>
            <div class="seat-indication">
              <div class="set-free-inidication">
                {{payMode === 'credit' && selectedShow.price ?  selectedShow.price + '₪' : 'פנוי' }}
              </div>
              <div class="set-taken-inidication">
                תפוס
              </div>
            </div>
          </div>
          <div id="cart-and-cencel">
            <div>
              <div>
                  <button [disabled]="displayType !=='feather'" (click)="onSelectTicketsClick()" id="add-to-cart-button" class="btn btn-success">הוסף לסל <i class="fas fa-shopping-cart"></i></button>
                  <button (click)="cencelSelections()" id="cencel-button" class="btn btn-danger d-none d-sm-inline-block">בטל בחירות <i class="fas fa-trash"></i></button>
              </div>
            </div>
          </div>
      </div>
      <div id="puf-alert"><i class="fas fa-exclamation-triangle"></i> אין להשאיר כיסא בודד</div>
    </div>
      <div class="card-body">
        <div id="contant">
          <div id="feather-and-rows-markin">
            <div *ngIf="displayType=='feather' && tickets.length > 0 "  class="rows-markin">
              <div class="rows-markin-feather-placeholder"></div>
              <div class="rows-markin-first-row-placeholder">1</div>
              <div class="rows-markin-second-row-placeholder">2</div>
              <div class="rows-markin-row-placeholder">3</div>
              <div class="rows-markin-row-placeholder">4</div>
              <div class="rows-markin-row-placeholder">5</div>
              <div class="rows-markin-row-placeholder">6</div>
              <div class="rows-markin-row-placeholder">7</div>
              <div class="rows-markin-row-placeholder">8</div>
              <div class="rows-markin-row-placeholder">9</div>
            </div>
              <div (scroll)="triggerChange()" #theather id="feather-container">
                  <div *ngIf="displayType=='feather' && tickets.length > 0 " id="feather">
                      <div *ngIf="canScrollLeft()" (click)="scrollLeft()" id="left-arrow"><i class="fas fa-caret-left"></i></div>
                      <div *ngIf="canScrollRight()" (click)="scrollRight()" id="right-arrow"><i class="fas fa-caret-right"></i></div>
                      <div id='screen'>
                        <img src="assets/screen.png" alt="">
                      </div>
                      <div class="feather-row" id='first-row'>
                        <div (click)="onSeatClick(ticket)" [ngClass]="{'seat-chosen': ticket.isChosen, 'seat-taken': ticket.isTaken}" class="feather-seat" *ngFor='let ticket of rows[1][1]'>
                          {{ticket.seat.seatId}}
                        </div>
                      </div>
                      <div id='other-rows'>
                        <div class="feather-section" id='right-seats'>
                          <div class="feather-row dubble-row">
                            <div *ngFor='let dticket of rows[2][2]' class="feather-bubble-seat">
                              <div (click)="onSeatClick(dticket[0])" [ngClass]="{'seat-chosen': dticket[0].isChosen, 'seat-taken': dticket[0].isTaken}">
                                {{dticket[0].seat.seatId}}
                              </div>
                              <div (click)="onSeatClick(dticket[1])" [ngClass]="{'seat-chosen': dticket[1].isChosen, 'seat-taken': dticket[1].isTaken}" style="border-left-style: solid; border-left-width: 1px; border-left-color: gray">
                                {{dticket[1].seat.seatId}}
                              </div>
                            </div>
                              <!-- <div class="feather-seat" *ngFor='let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]'>
                                  {{i}}
                              </div> -->
      
                          </div>
      
                        <div *ngFor='let rowNumber of [3,4,5,6,7,8]'  class="feather-row">
                            <div [ngClass]="{'seat-chosen': ticket.isChosen, 'seat-taken': ticket.isTaken}" class="feather-seat" *ngFor='let ticket of rows[rowNumber][2]' (click)="onSeatClick(ticket)">
                                {{ticket.seat.seatId}}
                          </div>
                        </div>
                        <div class="feather-row">
                            <div [ngClass]="{'seat-chosen': ticket.isChosen, 'seat-taken': ticket.isTaken}" class="feather-seat" *ngFor='let ticket of rows[9][2]' (click)="onSeatClick(ticket)">
                                {{ticket.seat.seatId}}
                            </div>
                            <div [ngClass]="{'seat-taken': true, 'blocked-seat': true}" class="feather-seat" *ngFor='let i of [1,2,3,4,5,6,7]'>
                               
                            </div>
                        </div>
      
                        </div>
                        <div id='feather-lane'></div>
                        <div class="feather-section" id='left-seats'>
                            <div  class="feather-row dubble-row">
                              <div *ngFor='let dticket of rows[2][1]' class="feather-bubble-seat">
                                <div (click)="onSeatClick(dticket[0])" [ngClass]="{'seat-chosen': dticket[0].isChosen, 'seat-taken': dticket[0].isTaken}">
                                  {{dticket[0].seat.seatId}}
                                </div>
                                <div (click)="onSeatClick(dticket[1])" [ngClass]="{'seat-chosen': dticket[1].isChosen, 'seat-taken': dticket[1].isTaken}" style="border-left-style: solid; border-left-width: 1px; border-left-color: gray">
                                  {{dticket[1].seat.seatId}}
                                </div>
                              </div>
                                <!-- <div class="feather-seat" *ngFor='let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14]'>
                                    {{i}}
                                </div> -->
                            </div>
                            <div *ngFor='let rowNumber of [3,4,5,6,7]'  class="feather-row">
                              <div [ngClass]="{'seat-chosen': ticket.isChosen, 'seat-taken': ticket.isTaken}" class="feather-seat" *ngFor='let ticket of rows[rowNumber][1]' (click)="onSeatClick(ticket)">
                                {{ticket.seat.seatId}}
                              </div>
                            </div>
                            <div class="feather-row">
                                <div [ngClass]="{'seat-taken': true, 'blocked-seat': true}" class="feather-seat" *ngFor='let i of [1,2,3,4,5,6,7,8,9]'>
                                   
                                </div>
                                <div [ngClass]="{'seat-chosen': ticket.isChosen, 'seat-taken': ticket.isTaken}" class="feather-seat" *ngFor='let ticket of rows[8][1]' (click)="onSeatClick(ticket)">
                                    {{ticket.seat.seatId}}
                                </div>  
                            </div>
                            <div class="feather-row">
                                <div [ngClass]="{'seat-taken': true, 'blocked-seat': true}" class="feather-seat" *ngFor='let i of [1,2,3,4,5,6,7,8,9,10,11]'>
                                   
                                </div>
                                <div [ngClass]="{'seat-chosen': ticket.isChosen, 'seat-taken': ticket.isTaken}" class="feather-seat" *ngFor='let ticket of rows[9][1]' (click)="onSeatClick(ticket)">
                                    {{ticket.seat.seatId}}
                                </div>  
                            </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div *ngIf="displayType=='feather' && tickets.length > 0 "  class="rows-markin">
                  <div class="rows-markin-feather-placeholder"></div>
                  <div class="rows-markin-first-row-placeholder">1</div>
                  <div class="rows-markin-second-row-placeholder">2</div>
                  <div class="rows-markin-row-placeholder">3</div>
                  <div class="rows-markin-row-placeholder">4</div>
                  <div class="rows-markin-row-placeholder">5</div>
                  <div class="rows-markin-row-placeholder">6</div>
                  <div class="rows-markin-row-placeholder">7</div>
                  <div class="rows-markin-row-placeholder">8</div>
                  <div class="rows-markin-row-placeholder">9</div>
                </div>
          </div>
          
            

              <div class="no-tickets-selected" *ngIf="displayType === 'feather' && tickets.length <= 0">
                <div>
                  <h3 class="display-5 text-muted ">
                    יש לבחור הקרנה
                  </h3>
                </div>
              </div>

              <div class="no-tickets-selected" *ngIf="displayType === 'loader'">
                <app-spinner></app-spinner>
              </div>



              <div id="success-div" *ngIf="displayType==='success'">
                  <div class="jumbotron text-right">
                    <h3 class="jumbotron-heading">המקומות נבחרו בהצלחה</h3>
                    <p class="lead text-muted">המקומות ישמרו עבורך למשך 15 דקות עד לתשלום</p>
                    <div class="bottum-margin">
                        <button (click)="onChoseAnotherTicketClick()" class="btn btn-primary">לבחירת כרטיסים לסרט נוסף</button>
                    </div>
                    <div>
                        <button (click)="navigateToCart()" class="btn btn-primary">למעבר לתשלום</button>
                    </div>

                  </div>
                </div>
              </div>
        </div>

    </div>

    <div id="bottum-place-holder" class="row">

    </div>

</div>

<div *ngIf="selectedTickets.length > 0" (click)="navigateToCart()" id="cart-button" class='btn btn-info'>
  <!-- <i class="far fa-credit-card"></i> -->
  <span><i class="fas fa-ticket-alt"></i> {{selectedTickets.length}}</span>
  <span>לתשלום</span>
  
</div>
