<div id="welcome-wraper" class="jumbotron">
  <div class="container">
    <h3>האם יש ברשותך מנוי?</h3>
    <hr class="my-4"/>
    <div>
      <button (click)="navigateToSubscription()" class="btn btn-primary">כן</button>
      <button (click)="navigateToSeats()" id="no-button" class="btn btn-primary">לא</button>
    </div>
  </div>
</div>
